@import "tailwindcss";
@plugin "tailwind-scrollbar";

body {
  -webkit-font-smoothing: antialiased;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
